.navbar-icon path {
  fill: currentColor;
  transition: fill 300ms ease-out;
}

.navbar-btn:hover .navbar-icon path,
.navbar-btn:focus .navbar-icon path {
  fill: #ab123e;
}

.navbar-btn:active .navbar-icon path {
  fill: #900c32;
}
