.slider-arrow path {
  fill: #ca1246;
  transition: fill 300ms ease-out;
}

.slider-inactive-arrow path {
  fill: #c7c7c7;
}

.slider-arrow:hover path,
.slider-arrow:focus path {
  fill: #ab123e;
}

.slider-arrow:active path {
  fill: #900c32;
}
